p{
    color: rgb(2, 61, 2);
}

#d1{
   background-color: rgb(50, 5, 92);
}
.c1{
    background-color: rgb(255, 103, 2);
}
.size18{
    font-size: 20px;
}
.blue{
    background-color: rgb(154, 214, 248);
}

div p{
    font-size: 40pt;
}
div :hover{
    background-color: rgb(255, 164, 240);
}
a:visited{
    color:rgb(255, 172, 234);
}